{% extends viewbaseLayout %}
{% block content %}
    <article class="summary blog_post">
        <h2><a href="{{ path( location ) }}">{{ location.contentInfo.name }}</a></h2>
        {# If the summary is empty, render the body #}
        {# This is likely not best practice since it's language-specific #}
        {% if content.fields.summary['eng-US'].xml|xmltext_to_html5 %}
            {{ ez_render_field( content, "summary" ) }}
        {% else %}
            {{ ez_render_field( content, "body" ) }}
        {% endif %}
    </article>
{% endblock %}
