{% extends noLayout ? viewbaseLayout : "BlendPartialContentBundle::pagelayout.html.twig" %}
{% block content %}
    <article class="body">
        <h1 class="page-title">{{ location.contentInfo.name }}</h1>
        <div>
            {{ ez_render_field( content, "body" ) }}
        </div>
    </article>
{% endblock %}