{% extends noLayout ? viewbaseLayout : "BlendPartialContentBundle::pagelayout.html.twig" %}
{% block content %}
    <h1 class="page-title">{{ location.contentInfo.name }}</h1>
    <article class="extra description">
        {{ ez_render_field( content, "description" ) }}
    </article>
{% endblock %}