{% extends noLayout ? viewbaseLayout : "BlendPartialContentBundle::pagelayout.html.twig" %}
{% block content %}
    <article class="body" about="{{ path(location) }}">
        <h1 class="page-title" property="title">{{ location.contentInfo.name }}</h1>
        <div property="body">
            {{ ez_render_field( content, "body" ) }}
        </div>
    </article>
{% endblock %}